@model CustomerModel
@{
    ViewData["Title"] = "Edit Customer";
}

<h1>Edit Customer</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="FirstName" class="form-label">FirstName</label>
                    <input asp-for="FirstName" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="LastName" class="form-label">LastName</label>
                    <input asp-for="LastName" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="DateOfBirth" class="form-label">DateOfBirth</label>
                    <input asp-for="DateOfBirth" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="IsActive" class="form-label">IsActive</label>
                    <input asp-for="IsActive" type="text" class="form-control">

                <button type="submit" class="btn btn-primary">Edit</button>
            </form>

        </div>
    </div>
</div>
