@model ProgramModel

@{
    ViewData["Title"] = "New Program";
}

<h1>New Program</h1>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="NameP" class="control-label"></label>
                <input asp-for="NameP" class="form-control" />
                <span asp-validation-for="NameP" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DescriptionP" class="control-label"></label>
                <input asp-for="DescriptionP" class="form-control" />
                <span asp-validation-for="DescriptionP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">IsActive</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />

                <a asp-action="Index">Return to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
